/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- Base styles */
/* ------------------------------------------------------------------------------------------------------------------- */

body, main, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

ul, ol { margin-left:1em; }

/*--- Wrappers ---*/

.wrapper {
	width:320px;
	margin:0 auto;
}

/*--- Other ---*/

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- Global styles */
/* ------------------------------------------------------------------------------------------------------------------- */

body {
	width:100%;
	height:100%;
	background:#142124;
	color:#44595E;
	font-family: 'Ruda', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
	text-decoration:none;
	color:#666;
	-moz-transition: color  0.25s;
    -webkit-transition: color 0.25s;
    -o-transition: color  0.25s;
    -ms-transition: color 0.25s;
    transition: color 0.25s;
}

a:hover, a:active {
	color:#666;
}

::selection {
	background:rgba(255,113,113,0.5);
	}
::-moz-selection {
	background:rgba(255,113,113,0.5);
}

p { margin-bottom:1em; } p:last-child { margin-bottom:0; }

h1 {
	font-size:48px;
	line-height:1.5em;
	font-weight: 700;
}

h2 {
	font-size:24px;
	line-height:1.5em;
	font-weight: 400;
}

::-webkit-input-placeholder {
    color:#CCC;
}
:-moz-placeholder {
    color:#CCC;
}
:-ms-input-placeholder {
    color:#CCC;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- Menu styles */
/* ------------------------------------------------------------------------------------------------------------------- */

.menu-wrap{
	width: 100%;
	background: #44595E;
}

.menu {
	text-align: center;
	padding: 12px;
}

.menu a {
	color: #FFF;
}

.menu .logo {
	font-size: 12px;
	line-height: 1em;
	letter-spacing: 8px;
}

.menu .logo img {
	height: 72px;
	width: auto;
	display: inline-block;
	vertical-align: middle;
	padding-right: 12px;
}

.menu .navlinks {
	font-size: 18px;
	line-height: 1em;
	padding:27px 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.menu .navlinks a {
	padding:0px 12px;
	text-shadow:2px 2px 0px rgba(20,33,36,0.5);
}

.menu .navlinks a:hover {
	color: #F7C760;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- Splash styles */
/* ------------------------------------------------------------------------------------------------------------------- */

.splash {
	width: 100%;
	height: auto;
	background:#142124 url(../img/feat-bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-moz-box-shadow: inset 0px 0px 120px rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0px 0px 120px rgba(0,0,0,0.8);
	box-shadow: inset 0px 0px 120px rgba(0,0,0,0.8);
	border-bottom: solid 1px #061012;
}

.splash header {
	padding: 48px 0px;
	text-align: center;
}

.splash header h2 {
	color:#F7C760;
	letter-spacing: 8px;
}

.splash header h1 {
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.splash header .description {
	max-width: 480px;
	padding: 24px;
	border-top: solid 1px #F7C760;
	margin: 0 auto;
	color: #86989c;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- Content styles */
/* ------------------------------------------------------------------------------------------------------------------- */

main {
	padding:96px 0px;
	text-align: center;
}

@-webkit-keyframes blurin {
0% { -webkit-filter:blur(0px);}
100% { -webkit-filter:blur(8px);}
}

@-moz-keyframes blurin {
0% { -webkit-filter:blur(0px);}
100% { -webkit-filter:blur(8px);}
}

@-o-keyframes blurin {
0% { -webkit-filter:blur(0px);}
100% { -webkit-filter:blur(8px);}
}

@-ms-keyframes blurin {
0% { -webkit-filter:blur(0px);}
100% { -webkit-filter:blur(8px);}
}

@keyframes blurin {
0% { -webkit-filter:blur(0px);}
100% { -webkit-filter:blur(8px);}
}

@-webkit-keyframes blurout {
0% { -webkit-filter:blur(8px);}
100% { -webkit-filter:blur(0px);}
}

@-moz-keyframes blurout {
0% { -webkit-filter:blur(8px);}
100% { -webkit-filter:blur(0px);}
}

@-o-keyframes blurout {
0% { -webkit-filter:blur(8px);}
100% { -webkit-filter:blur(0px);}
}

@-ms-keyframes blurout {
0% { -webkit-filter:blur(8px);}
100% { -webkit-filter:blur(0px);}
}

@keyframes blurout {
0% { -webkit-filter:blur(8px);}
100% { -webkit-filter:blur(0px);}
}

.gallery-item {
	padding:12px;
	width: 320px;
	margin: 0 auto;
	display: inline-block;
}

.frame {
	width: 284px; 
    height: 284px; 
    border: solid 12px #FFF;
    background:#061012;
	overflow: hidden;
	position: relative;
	z-index: 10;
	cursor: pointer;
	-moz-box-shadow: 2px 4px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 2px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 2px 4px 0px rgba(0,0,0,0.1);
}

.frame .thumbnail {
	width: 284px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	-webkit-animation: blurout 0.5s ease;
	-moz-animation: blurout 0.5s ease;
	-o-animation: blurout 0.5s ease;
	-ms-animation: blurout 0.5s ease;
	animation: blurout 0.5s ease;
	-webkit-animation-fill-mode: backwards;
}

.frame .thumbtext {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	opacity:0.0;
	filter:alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF);
    -moz-transition: opacity  0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity  0.5s linear;
    -ms-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
	background: rgba(6,16,18,0.65);
}

.frame:hover .thumbnail {
	-webkit-animation: blurin 1s ease;
	-moz-animation: blurin 1s ease;
	-o-animation: blurin 1s ease;
	-ms-animation: blurin 1s ease;
	animation: blurin 1s ease;
	-webkit-animation-fill-mode: forwards;
}

.frame:hover .thumbtext {
	opacity:1.0;
	filter:alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF);
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- Tablet SM styles */
/* ------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 480px) {

/*--- Wrappers ---*/

.wrapper {
	width:480px;
}

}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------- Tablet LRG styles */
/* ------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 640px) {

/*--- Wrappers ---*/

.wrapper {
	width:640px;
}

/*--- Menu ---*/

.menu {
	text-align: left;
}

.menu .logo {
	float: left;
}

.menu .navlinks {
	float: right;
	text-align: right;
}

.menu .navlinks a:last-child {
	padding-right:0px;
}

/*--- Splash ---*/

.splash header {
	padding: 160px 0px;
}

.splash header h1 {
	font-size: 72px;
}

}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- Desktop styles */
/* ------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 960px) {

/*--- Wrappers ---*/

.wrapper {
	width:960px;
}

}
