/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ Theme styles */
/* ------------------------------------------------------------------------------------------------------------------- */

body {
	background:#ff8863;
	color:#ffb991;
}

a {
	color:#742300;
}

a:hover, a:active {
	color:#aa2c00;
}

::selection {
	background:rgba(116,35,0,0.5);
	}
::-moz-selection {
	background:rgba(116,35,0,0.5);
}

::-webkit-input-placeholder {
    color:#CCC;
}
:-moz-placeholder {
    color:#CCC;
}
:-ms-input-placeholder {
    color:#CCC;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- Menu styles */
/* ------------------------------------------------------------------------------------------------------------------- */

.menu-wrap {
	background: #ff8863;
	border-bottom: solid 1px #f26347;
}

.menu-wrap a:hover {
	color: #FFF;
}

.menu .navlinks a {
	color: #ffb991;
}

.menu .navlinks a:hover {
	color: #FFF;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- Splash styles */
/* ------------------------------------------------------------------------------------------------------------------- */

.splash {
	background-color:#742300;
	border-bottom: solid 1px #f26347;
}

.splash header h2 {
	color:#ffc57a;
}

.splash header .description {
	border-top: solid 1px #ffb991;
	color: #ffe09d;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- Content styles */
/* ------------------------------------------------------------------------------------------------------------------- */

.frame {
    background:#ff8863;
}

.frame .thumbtext {
	background: rgba(242,99,71,0.85);
}

.frame .thumbtext h2 {
	color: #ffe09d;
	border-top: solid 1px #ffb991;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------- Lightbox styles */
/* ------------------------------------------------------------------------------------------------------------------- */


.lb_overlay {
	background: #f26347;
}

.lightbox .modaltext h2 {
	color: #742300;
}

.lightbox .modaltext .downloads {
	border-top: solid 1px #ff8863;
	border-bottom: solid 1px #ff8863;
}

.lightbox .modaltext .downloads .screen a:hover {
	color: #F7C760;
}

.lightbox .modaltext .artist .social form .tip {
	background: #ff8863;
	color: #FFF;
}

.lightbox .modaltext .artist .social form .tip:hover {
	background: #ffb991;
}

.lightbox .modaltext .artist .social a {
	background: #ff8863;
	color: #FFF;
}

.lightbox .modaltext .artist .social a:hover {
	background: #ffb991;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- Footer styles */
/* ------------------------------------------------------------------------------------------------------------------- */

.footer-wrap {
	background: #f26347;
}

.btn {
	background: #f26347;
	color: #FFF;
}

.btn:hover {
	color: #FFF;
	background: #aa2c00;
}